body {
	background-image: repeating-linear-gradient(to bottom right, hsla(0, 100%, 70%, 0.5) 10%, hsla(200, 100%, 70%, 0.5) 20%);
}

#kutija{
	height: 200px;
	width: 100%;
	
	/* Gradijenti */
	 background-image: linear-gradient(+135deg, red, orange, yellow, green, blue, indigo, violet); 
	background-image: radial-gradient(circle)
	
}

.naslov {
	text-decoration: underline;
	background-color: DodgerBlue;
	
}

.paragraf {
	font-family: Verdana;
	border: 5px dotted Gray;
	padding: 20px;
	
	/* background-color :  Boji sve od bordera pa nanize */
	
	/* background-color: red; */
	/* background-color: rgb(255, 100, 70); 0-255 */
	/* background-color: #ff6347; prve dve cifre su za crvenu, druge dve za zelenu i poslednje dve za plavu*/
	/* hsl(hue 0-360, 0-red, 120-green, 240-blue, saturaton 0-100%, lightness 0-100%) */
	/* background-color: hsl(10, 100%, 75%); */
	
	/* background-color: rgba(255, 100, 70, 0.5);  */
	/* background-color: hsla(10, 100%, 70%, 0.4); */
	
	
	
	

	

}