p {
	color: blue;
	
}

#fontovi p{
	 /* text-shadow: 3px 2px yellow; */
	font-family: "Times New Roman", "Consolas","Arial";

	font-style: normal; /* normal italic */
	font-weight: bold; /* normal bold */

	/* Velicine fontova */
	/* font-size: 30px; */
	font-size: 0.875em; 
	/* font-size: 5vw;  /* Skalira se font u poredjenju sa sirinom stranice*/
	
	font-variant: normal; /* normal small-caps */
	
	
}

#fontovi{
	border: 3px double black;
	padding: 5%;
	
	/* Tekst manipulacija */
	text-align: justify; /* left center right justify */
	text-decoration: none; /* none overline line-through underline */ 
	text-transform: none; /* none uppercase lowercase capitalize */
	text-shadow: 3px 2px pink;
	
	text-indent: 5%;
	
	letter-spacing: 0.5px;
	line-height: 1.8;
	word-spacing: 10px;
	
	direction: rtl;
	
	
}

a:link{
	color: Tomato;
	text-decoration: none;
}

a:visited{
	color: green;
	text-decoration: line-through;
}

a:hover{
	color: hotpink;
}

a:active{
	color: blue;
	text-decoration: line-through;
	font-size: 2em;
}











